%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{cover_enabled, true}.

{deps, [
    {parse_trans, ".*", 
      {git, "https://github.com/uwiger/parse_trans.git",{tag,"2.6"}}},
	{lhttpc, ".*",
	  {git, "https://github.com/oscarh/lhttpc.git", {branch, "master"}}},
	{jsx, ".*",
	  {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}},
	{emagic, ".*",
	  {git, "https://github.com/JasonZhu/erlang_magic.git", {branch, "develop"}}},
	{edown, ".*", 
	  {git, "https://github.com/esl/edown.git",{branch, "master"}}},
	{lager, ".*",
	  {git, "https://github.com/basho/lager.git",{branch, "master"}}},
	{sync, ".*",
      {git, "https://github.com/rustyio/sync.git",{branch, "master"}}}
      ]}.

{sub_dirs, ["rel"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    %warn_missing_spec
]}.

{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "log"
  ]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
