[{erl_social,[
	{providers,[
		{sina,[
			{app_key,"2128144137"},
			{grant_type, "authorization_code"},
			{app_secret,"4bd23d77f8015cbf956f113825a164b5"},
			{url,"http://lucas.yunio.com:8001"},
			{format, "json"}
		]},
		{qq,[
			{app_key,"100498331"},
			{grant_type, "authorization_code"},
			{app_secret,"b0c64798dd28da85f7fb7ca38ae6f6cc"},
			{url,"http://3.yunio.com"},
			{format, "json"}
		]},
		{douban,[
			{app_key,"06b6c6228430e83b142452678c92b8b1"},
			{grant_type, "authorization_code"},
			{app_secret,"844ea0d505816b63"},
			{url,"http://lucas.yunio.com:8001"},
			{format, "json"}
		]}
	]},
	{logtype, closed},
	{logfile,"/home/lucas/erl_social.txt"},
	{moca_server,enable},
	{dispatch_file,"priv/dispatch.script"}
]},
{lager, [
	{handlers, [
		{lager_console_backend, [debug,
			{lager_default_formatter,
				[time, " ", "[", severity, "] ",message, "\n"]}]},
		{lager_file_backend, [
			{file, "log/error.log"},
			{level, error},
			{size, 10485760},
			{count, 50},
			{date, "$D0"},
			{formatter, lager_default_formatter},
			{formatter_config, []}
		]},
		{lager_file_backend, [
			{file, "log/debug.log"},
			{level, debug},
			{size, 10485760},
			{count, 50},
			{date, "$D0"},
			{formatter, lager_default_formatter},
			{formatter_config, []}
		]}
	]},
    {error_logger_redirect, true},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5}
]}
].
