{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "erl_social", "1",
        [
         kernel,
         stdlib,
         sasl,
		 inets,
		 ssl,
         erl_social
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "erl_social"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
	   {app, sasl, [{incl_cond, include}]},
	   {app, stdlib, [{incl_cond, include}]},
	   {app, kernel, [{incl_cond, include}]},
	   {app, observer, [{incl_cond, include}]},
	   {app, inets, [{incl_cond, include}]},
	   {app, lhttpc, [{incl_cond, include}]},
	   {app, ranch, [{incl_cond, include}]},
	   {app, cowboy, [{incl_cond, include}]},
	   {app, parse_trans, [{incl_cond, include}]},
	   {app, jsx, [{incl_cond, include}]},
	   {app, emagic, [{incl_cond, include}]},
	   {app, edown, [{incl_cond, include}]},
	   {app, lager, [{incl_cond, include}]},
	   {app, sync, [{incl_cond, include}]},
	   {app, mixer, [{incl_cond, include}]},
       {app, erl_social, [{mod_cond, app}, {incl_cond, include},{lib_dir,".."}]},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]}
      ]}.

{target_dir, "erl_social"}.

{overlay_vars, "vars.config"}.

{overlay, [
		   {mkdir, "etc"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
		   {template, "files/app.config", "etc/app.config"},
		   {template, "files/vm.args","etc/vm.args"},
		   {copy, "files/dispatch.script", "etc/dispatch.script"},
           {copy, "files/erl_social", "bin/erl_social"},
           {copy, "files/erl_social.cmd", "bin/erl_social.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"}
          ]}.
