%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_log_dir, "./log"}.
{platform_etc_dir, "./etc"}.
{app_name, "erl_social"}.

%% etc/app.config
{sasl_error_log,    "{{platform_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{platform_log_dir}}/sasl"}.

{sina_app_key, "2128144137"}.
{sina_grant_type, "authorization_code"}.
{sina_app_secret, "4bd23d77f8015cbf956f113825a164b5"}.
{sina_url, "http://lucas.yunio.com:8001"}.
{sina_format, "json"}.


{qq_app_key, "100498331"}.
{qq_grant_type, "authorization_code"}.
{qq_app_secret, "b0c64798dd28da85f7fb7ca38ae6f6cc"}.
{qq_url, "http://3.yunio.com"}.
{qq_format, "json"}.

{douban_app_key, "06b6c6228430e83b142452678c92b8b1"}.
{douban_grant_type, "authorization_code"}.
{douban_app_secret, "844ea0d505816b63"}.
{douban_url, "http://lucas.yunio.com:8001"}.
{douban_format, "json"}.

{erl_social_log_type, closed}.
{erl_social_log_file, "lucas_log.txt"}.
{erl_social_moca_server, disable}.
