[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "{{sasl_error_log}}"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{sasl_log_dir}}"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {erl_social,[
	{providers,[
		{sina,[
			{app_key,"{{sina_app_key}}"},
			{grant_type, "{{sina_grant_type}}"},
			{app_secret,"{{sina_app_secret}}"},
			{url,"{{sina_url}}"},
			{format, "{{sina_format}}"}
		]},
		{qq,[
			{app_key,"{{qq_app_key}}"},
			{grant_type, "{{qq_grant_type}}"},
			{app_secret,"{{qq_app_secret}}"},
			{url,"{{qq_url}}"},
			{format, "{{qq_format}}"}
		]},
		{douban,[
			{app_key,"{{douban_app_key}}"},
			{grant_type, "{{douban_grant_type}}"},
			{app_secret,"{{douban_app_secret}}"},
			{url,"{{douban_url}}"},
			{format, "{{douban_format}}"}
		]}
	]},
	{logtype, {{erl_social_log_type}} },
	{logfile,"{{platform_log_dir}}/{{erl_social_log_file}}"},
	{moca_server,{{erl_social_moca_server}} },
	{dispatch_file,"{{platform_etc_dir}}/dispatch.script"}
 ]},
 {lager, [
	{handlers, [
		{lager_console_backend, [debug,
			{lager_default_formatter,
				[time, " ", "[", severity, "] ",message, "\n"]}]},
		{lager_file_backend, [
			{file, "{{platform_log_dir}}/error.log"},
			{level, error},
			{size, 10485760},
			{count, 50},
			{date, "$D0"},
			{formatter, lager_default_formatter},
			{formatter_config, []}
		]},
		{lager_file_backend, [
			{file, "{{platform_log_dir}}/debug.log"},
			{level, debug},
			{size, 10485760},
			{count, 50},
			{date, "$D0"},
			{formatter, lager_default_formatter},
			{formatter_config, []}
		]}
	]},
    {error_logger_redirect, true},
    {crash_log, "{{platform_log_dir}}/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5}
 ]}
].
